/*=======================================================
      THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #FFF;
	font-weight: normal;
	position: relative;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
.fonts {
	font-family: 'Merriweather', serif;
	font-family: 'Montserrat', sans-serif;
}
/*=======================================================
      WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*=======================================================
      HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #252525;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
	font-weight: bold;
}
p {
	font-weight: 500;
	color: #6f6f6f;
	line-height: 26px;
	text-rendering: optimizeLegibility;
}
button {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
ul {
	margin-bottom: 0px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #141414;
}
p.intro-small {
	width: 80%;
	margin: 0 auto;
}
.text-transform-none {
	text-transform: none !important;
}
.text-white {
	color: #fff !important;
}
img {
	max-width: 100%;
}
/*=======================================================
      BTN STYLE
========================================================*/
.btn {
	border: none;
	color: #fff;
	display: inline-block;
	padding: 12px 40px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	border-radius: 4px;
	background: #92817A;
	position: relative;
	z-index: 1;
}
.btn:hover {
	background: #362417;
	color: #fff;
}
.btn-inverse {
	background: #ffe115;
	color: #362417;
}
.btn-inverse:hover {
	background: #362417;
	color: #fff;
}
.btn-white {
	background: #fff;
	color: #ab4e52 !important;
}
.btn-white:hover {
	background: #ab4e52;
	color: #fff !important;
}
.tp-caption .btn {
	display: inline-block;
}
.btn-1 {
	border: 1px solid #965452;
	border-left: none;
	border-right: none;
	border-top-color: transparent;
	text-transform: uppercase;
	font-size: 10px;
	display: inline-block;
	padding: 10px;
	letter-spacing: 1px;
	color: #965452;
}
.btn-1 i {
	font-size: 10px;
	margin-left: 20px;
}
.btn-1.btn-2 {
	border-bottom-color: transparent;
	border-top: 1px solid #965452;
}
.btn-1:hover {
	color: #fff;
	background: #965452;
}
.btn-small {
	padding: 0 20px;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 1px;
}
.btn-round {
	background: none;
	border-radius: 50px;
	border: 1px solid #362417;
	color: #362417;
}
.btn-round:hover {
	background: #362417;
	color: #fff;
}
.parallax-bg {
	background-size: cover !important;
}
section {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #fff;
}
.text-shadow {
	text-shadow: 3px 0px 5px rgba(0,0,0,0.5);
}
.text-shadow-1 {
	text-shadow: 2px 3px 0 rgba(0,0,0,0.5);
}
.home-slide {
	position: relative;
	padding-top: 150px;
}
.home-slide .owl-dots {
	text-align: left;
}
#content {
	background: #fff;
	position: relative;
	z-index: 1;
}
/*=======================================================
      Position Center Center 
========================================================*/
.position-center-center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/*=======================================================
      HEADING
========================================================*/
.heading {
	margin: 0 auto;
	margin-bottom: 80px;
	position: relative;
	z-index: 1;
}
.heading h2 {
	margin-bottom: 20px;
}
.heading h6 {
	margin: 0px;
	font-size: 14px;
	color: #000;
	font-weight: 500;
	text-transform: none;
	position: relative;
}
.heading h4 {
	font-weight: 500;
	color: #362417;
	margin: 0px;
	font-size: 26px;
	letter-spacing: -1px;
	margin-bottom: 10px;
}
.heading p {
	max-width: 800px;
	font-size: 14px;
	line-height: 24px;
	margin: 0 auto;
}
.heading span {
	display: inline-block;
	max-width: 800px;
	font-size: 14px;
	line-height: 24px;
	color: #666666;
	font-style: italic;
}
.heading.light-head h3 {
	color: #fff;
}
.heading.light-head h4 {
	color: #fff;
}
.heading span {
	color: #666666;
}
.center-block {
	float: none;
}
.heading.style-left {
	margin-bottom: 30px;
}
.heading.style-left h4 {
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.heading.style-left h4:before {
	content: "";
	position: absolute;
	bottom: 9px;
	height: 4px;
	background: #ffe115;
	height: 7px;
	width: 100%;
	z-index: -1;
}
.heading.style-left span {
	font-size: 36px;
	line-height: 48px;
	display: inline-block;
	width: 85%;
}
/*=======================================================
      HEADER
========================================================*/
header {
	width: 100%;
	z-index: 999;
	background: rgba(0,0,0,0.9);
	padding: 15px 0;
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 0 0 30px rgba(0,0,0,0.07);
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0 ); /* IE6-9 */
}
.is-sticky header {
	background: rgba(0,0,0,0.9);
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
header .navbar {
	border: none;
	margin: 0px;
	position: static;
	padding: 0px;
	border-radius: 0px;
	text-align: center;
	float: right;
}
header .navbar .nav {
	margin-top: 3px;
}
.dropdown-toggle::after {
	display: none;
}
header .logo {
	float: left;
	position: relative;
	max-width: 220px;
}
header .logo img {
	z-index: 3;
	position: relative;
}
.sticky-wrapper {
	height: auto !important;
}
header .sticky {
	background: rgba(255,255,255,0.95);
	left: 0px;
}
header .is-sticky .sticky {
	padding: 15px 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
header .navbar {
	display: inline-block;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
header .navbar li {
	display: inline-block;
	float: left;
	margin: 0 5px;
	position: relative;
}
header .sticky {
	width: 100%;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
header .navbar li a {
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	padding: 10px 0px;
	margin: 0 10px;
	position: relative;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	display: inline-block;
}
header .navbar li a:before {
	width: 0px;
	margin: 0px auto;
	position: absolute;
	content: "";
	height: 2px;
	left: 0px;
	bottom: 0px;
	z-index: -1;
	background: #ffe115;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
header .navbar li a:hover:before {
	width: 100%;
}
header .navbar li.active a:before {
	width: 100%;
	margin: 0px auto;
	position: absolute;
	content: "";
	height: 2px;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	background: #ffe115;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.nav>li>a:focus, .nav>li>a:hover {
	background: none;
}
.ownmenu .nav .dropdown-menu {
	background: rgba(255,255,255,0.99);
	padding: 0px;
}
.ownmenu .dropdown-menu li {
	margin: 0px;
}
.ownmenu .nav .dropdown-menu li {
	position: relative;
	z-index: 2;
}
.ownmenu .nav .dropdown-menu li a {
	z-index: 1;
	position: relative;
}
.ownmenu .nav .dropdown-menu li a:before {
	background: #362417;
	content: "";
	width: 0px;
	height: 100%;
	top: 0px;
	margin: 0px;
	z-index: -1;
	left: 0px;
	display: none;
}
.ownmenu .dropdown-menu li a:hover:before {
	width: 100%;
}
.ownmenu .nav .dropdown-menu li a {
	padding: 0px 20px;
	font-size: 13px;
	line-height: 30px;
	background: none;
	text-transform: none;
	color: #362417 !important;
}
.ownmenu .nav .dropdown-menu li:nth-last-child(1) a {
	border-bottom: none;
}
.ownmenu .nav .dropdown-menu li a:hover {
	color: #000 !important;
}
.ownmenu .nav .dropdown-menu {
	border: none;
	min-width: 250px;
	margin-top: 23px;
}
.ownmenu .nav .dropdown-menu {
	border-top: none;
	padding: 20px;
	border-radius: 0px 0px 8px 8px;
	margin-left: 10px;
}
.ownmenu .nav .dropdown-menu {
}
.ownmenu .dropdown.megamenu {
	position: static !important;
}
.ownmenu .dropdown.megamenu .dropdown-menu {
	width: 100%;
	min-width: inherit;
	padding: 30px;
	margin-top: 0px;
}
.ownmenu .nav .dropdown-menu li a {
	position: relative;
}
.ownmenu .nav .dropdown-menu li a:after {
	content: "\f105";
	position: absolute;
	left: 5px;
	top: 0px;
	color: #000;
	font-family: 'FontAwesome';
}
.ownmenu .dropdown.megamenu .dropdown-menu li {
	display: inline-block;
	width: 100%;
}
.ownmenu .dropdown.megamenu .dropdown-menu h6 {
	margin-bottom: 20px;
	color: #362417;
	font-size: 14px;
	font-weight: normal;
}
.ownmenu .dropdown.megamenu .dropdown-menu .btn {
	padding: 0px 30px;
	letter-spacing: 0px;
	margin-top: 10px;
}
.ownmenu .dropdown.megamenu .dropdown-menu .btn:before {
	display: none;
}
.ownmenu .dropdown.megamenu .dropdown-menu h5 {
	margin-bottom: 20px;
	letter-spacing: 1px;
	color: #362417;
}
.ownmenu .dropdown.megamenu .dropdown-menu h5 span {
	font-size: 14px;
	text-transform: none;
	width: 100%;
	font-weight: normal;
	display: inline-block;
}
.ownmenu .dropdown.megamenu .dropdown-menu li a {
	display: inline-block;
	width: 100%;
	font-size: 12px;
	padding: 0px 0px;
	color: #362417 !important;
	margin: 0px;
}
.ownmenu .dropdown .media-left {
	float: left;
}
.ownmenu .dropdown.megamenu .cart-img {
	width: 80px;
	margin-right: 10px;
	padding: 5px;
	display: inline-block;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.1);
}
.ownmenu .dropdown.megamenu .cart-img a {
	padding: 1px !important;
	border: none !important;
}
.ownmenu .dropdown.megamenu .stars {
	margin-bottom: 0px;
	color: #ffe119;
	font-size: 11px;
}
.ownmenu .dropdown.megamenu .stars i {
	margin: 0 1px;
}
.ownmenu .dropdown.megamenu .media-heading {
	margin-top: 10px;
	font-weight: normal;
	margin-bottom: 5px !important;
}
.ownmenu .dropdown.megamenu .top-rated li .price {
	font-size: 12px;
}
.ownmenu .dropdown.megamenu .top-rated li {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.ownmenu .dropdown.megamenu .top-rated li:nth-last-child(1) {
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu {
	overflow: hidden;
	border-top: 1px solid #362417;
	margin: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu .row {
	max-width: 1170px;
	margin: 0 auto;
}
header .is-sticky .sticky .nav .dropdown.megamenu .dropdown-menu {
	margin-top: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu .row {
	position: relative;
}
.ownmenu .dropdown.megamenu .dropdown-menu .nav-img {
	margin-right: -30px;
	float: right;
	margin-top: -30px;
	margin-bottom: -30px;
	position: absolute;
	top: 0px;
	z-index: -1;
}
.ownmenu .dropdown.megamenu .dropdown-menu li a:before {
	height: 1px;
	top: auto;
	bottom: 0px;
}
.ownmenu .dropdown .sub-menu .dropdown-menu {
	position: absolute;
	left: 100%;
	top: 0px;
	display: none !important;
	margin: 0px !important;
}
.ownmenu .dropdown .sub-menu:hover .dropdown-menu {
	display: block !important;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li a {
	border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li:nth-last-child(1) a {
	border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
.ownmenu .dropdown .sub-menu:before {
	content: "\f105";
	position: absolute;
	right: 10px;
	font-family: 'FontAwesome';
	line-height: 33px;
	z-index: 2;
}
.ownmenu .dropdown .sub-menu:hover:before {
	color: #fff;
}
.ownmenu {
	float: left;
}
.nav-right i {
	font-size: 20px;
}
.nav-right .navbar-right li {
	margin: 0px;
}
.nav-right .navbar-right li a {
	border: 1px solid #362417;
	border-radius: 50%;
	height: 36px;
	width: 36px;
	line-height: 34px;
	margin-left: 10px !important;
}
.nav-right .navbar-right li a i {
	font-size: 14px;
}
.nav-right .navbar-right li a:hover {
	color: #fff;
	background: #362417;
}
.nav-right {
	float: right;
	position: relative;
	margin-top: 1px;
}
.navbar-right li a {
	margin: 0px !important;
	padding: 0px !important;
	width: 40px;
	float: left;
}
header .social_icons {
	float: right;
	color: #fff;
	margin-top: 20px;
}
header .social_icons a {
	color: #fff;
	margin-left: 10px;
}
header.light-head .navbar .nav-right li a {
	padding-left: 0px !important;
	padding-right: 0px !important;
	background: none !important;
}
header .social_icons a:hover {
	color: #ab4e52;
}
header .is-sticky .sticky .nav .dropdown-menu {
	margin-top: 10px;
}
.header-1 {
	position: absolute;
	background: none;
}
.header-1 .sticky {
	background: none;
}
.header-1 .is-sticky .sticky {
	background: rgba(255,255,255,0.9);
}
header.light-head .navbar li a {
	color: #fff;
}
header.light-head .navbar li a:hover {
	background: rgba(0,0,0,0.9);
	border-radius: 6px 6px 0 0;
}
header.light-head .navbar .dropdown-menu li a {
	color: #333;
}
header.light-head .navbar .dropdown-menu li a.btn {
	color: #fff;
}
.header-1 .is-sticky .sticky {
	background: rgba(0,0,0,0.9);
}
header.light-head .ownmenu .nav .dropdown-menu {
	background: rgba(0,0,0,0.9) !important;
	border: none;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a {
	color: #fff !important;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
header.light-head .ownmenu .nav .dropdown-menu li a:after {
	color: #fff;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a:hover {
	color: #fff !important;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a:before {
	display: none;
}
header.light-head p {
	color: #b4b4b4;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu h6 {
	color: #fff;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu h5 {
	color: #fff;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu h5 span {
	color: #999999;
}
header.light-head .ownmenu .dropdown.megamenu .cart-img {
	background: #000;
	border: 1px solid rgba(255,255,255,0.2);
}
header.light-head .ownmenu .dropdown.megamenu .top-rated li .price {
	color: #999999;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu li a {
	color: #999999 !important;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu li a:hover {
	color: #fff !important;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu li a:before {
	background: #fff;
}
.header-1 {
	padding-bottom: 0px !important;
}
.header-1 .sticky {
	padding-bottom: 0px !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: none;
}
.header-1 .logo {
	margin-top: 13px;
}
.header-1 .ownmenu .nav .dropdown-menu {
	margin-top: 0px;
}
header.light-head .navbar li a:before {
	background: #fff;
	bottom: 0px;
	top: auto;
	height: 2px;
}
header.light-head .navbar li.active a:before {
	background: #fff;
}
header.light-head .ownmenu ul.dropdown {
	background: rgba(0,0,0,0.9);
}
header.light-head .ownmenu ul.dropdown li a {
	color: #d6d6d6 !important;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
header .navbar-collapse {
	float: left;
	padding: 0px;
	margin-right: 20px;
}
header .user-acc li {
	display: inline-block;
	width: 100%;
	margin: 0px !important;
}
header .user-acc li h6 {
	padding: 0 20px;
	font-weight: normal;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin: 10px 0;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
	text-transform: none;
}
header .user-acc .dropdown-menu {
	margin-top: 51px;
	padding: 0px;
	border: none;
	border-radius: 0px;
	min-width: 260px;
}
.header-1 .user-acc .dropdown-menu {
	margin-top: 11px;
}
.header-1 .user-basket .dropdown-menu {
	margin-top: 11px;
}
header .is-sticky .sticky .user-acc .dropdown-menu {
	margin-top: 21px;
}
header .user-acc li a {
	display: inline-block;
	width: 100%;
	letter-spacing: 0px;
	padding: 10px 20px;
	font-size: 12px;
}
header .user-acc .dropdown-menu>li>a:hover {
	background: #ffe115;
}
header .user-acc .dropdown-menu>li>a:focus {
	background: #ffe115;
}
header .navbar-right li a:before {
	display: none;
}
header .user-basket .dropdown-menu {
	margin-top: 51px;
	padding: 20px;
	border: none;
	border-radius: 0px;
	min-width: 350px;
}
header .user-basket .dropdown-menu li {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
	width: 100%;
}
header .user-basket h5 {
	font-weight: normal;
	font-size: 16px;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px 0;
}
header .user-basket .btn {
	padding: 0px 0px;
	width: 100%;
	letter-spacing: 0px;
	color: #fff;
	border: none;
}
header .user-basket .btn:hover {
	background: #ffe115;
	color: #362417;
}
header .user-basket .media-heading {
	margin-top: 0px;
	font-weight: normal;
}
header .user-basket span {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	font-size: 12px;
}
header .user-basket .cart-img a {
	display: inline-block;
	width: 100%;
	padding: 0px;
}
header .user-basket .cart-img {
	width: 90px;
	margin-right: 10px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	padding: 5px;
	display: inline-block;
}
header .is-sticky .sticky .user-basket .dropdown-menu {
	margin-top: 21px;
}

/*=======================================================
			Main
========================================================*/
#particles-js {
	width: 100%;
	background: url(../images/background.jpg);
	background-size: cover;
}
.simple-head {
	background-size: cover;
	max-height: 800px;
}
.simple-head .position-center-center {
	margin-top: 30px;
	width: 100%;
}
.simple-head .btn {
	margin: 0 5px;
	margin-top: 30px;
}
.simple-head h1 {
	color: #fff;
	margin: 0px;
	letter-spacing: -1px;
	font-weight: 600;
	margin-bottom: 20px;
}
.simple-head p {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}
.simple-head .distri .countdown {
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.simple-head .distri {
	background: #fff;
	padding: 10px 20px;
	border-radius: 4px;
}
.simple-head .distri h6 {
	font-size: 18px;
	margin: 0px;
	margin-top: 20px;
	font-weight: 600;
}
.simple-head .distri .progress {
	margin: 10px 0;
}

.distri .dogecoin div{
	background:transparent;
    color:black;
}

.simple-head .distri .dogecoin small{
	font-size: 14px;
}


.simple-head .distri .progress span {
	text-align: left;
}
.simple-head .distri .progress span small {
	float: right;
	margin-top: 2px;
}
.simple-head .distri .countdown li p {
	color: #333;
	font-size: 12px;
}

/*=======================================================
			Distribution
========================================================*/
.distri .progress {
	height: 2rem;
	margin-bottom: 30px;
	margin-top: 30px;
	background: rgba(0,0,0,0.1);
	position: relative;
}
.distri .progress-bar {
	background-color: #ffe115;
    color: black;
}
.distri .progress span {
	font-weight: bold;
	border-radius: 4px;
	padding: 0 10px;
	text-align: left;
}
.distri .progress span small {
	font-weight: bold;
	float: right;
	margin-top: 3px;
}
.distri h6 {
	font-weight: 600;
}
.about-us-con .btn {
	margin-right: 10px;
}

.distri .countdown {
	margin-top: 30px;
	background: #fff;
	padding: 10px 20px;
	padding-bottom: 20px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.1);
}
.distri .countdown li p {
	font-weight: 500;
	text-transform: capitalize;
	margin: 0px;
}
.distri .countdown li span {
	font-size: 18px;
	font-weight: 600;
}
.distri .countdown-all {
	text-align: center;
}
.distri .countdown-all .btn {
	margin: 0 5px;
	padding: 10px 30px;
	font-size: 12px;
}
.distri .countdown-all {
	margin-top: 30px;
	background: #fff;
	padding: 10px 20px;
	padding-top: 30px;
	padding-bottom: 23px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.1);
}
.distri .countdown-all .card-info {
	color: #CCC;
	font-size: 22px;
	margin-top: 10px;
}
.distri .countdown-all li p {
	font-weight: 500;
	text-transform: capitalize;
	margin: 0px;
}
.distri .countdown-all li span {
	font-size: 26px;
	font-weight: 700;
}
.distri .countdown-all ul {
	padding-left: 10px;
}
.distri .countdown-all li {
	margin-bottom: 20px;
	text-align: left;
}
.distri.drk {
	background: #362417;
	background-size: cover;
}
.distri.drk .progress {
	background: rgba(255,255,255,0.1);
}
.distri h6 {
}
.distri.drk p {
	color: #fff;
}
.distri.drk h6 {
	color: #fff;
}
.distri.drk span {
	color: #fff;
}
.distri.drk h3 {
	color: #fff;
}
.distri.drk .countdown {
	background: rgba(255,255,255,0.05);
}
.distri.drk .countdown-all {
	background: rgba(255,255,255,0.05);
}
.distri.drk .progress span {
	color: #362417;
}
.distri.drk .progress-bar {
	background: #ffe115;
}

/*=======================================================
			First section
========================================================*/
.first-section .btn {
	margin-top: 30px;
}
.first-section .ib-icon {
	margin: 30px 0;
	margin-bottom: 20px;
}
.first-section .ib-icon i {
	font-size: 40px;
	color: #362417;
}
.first-section .vid-btn {
	margin-top: 15px;
	font-weight: 500;
	display: inline-block;
}
.first-section .vid-btn span {
	font-size: 12px;
}
.first-section .vid-btn i {
	float: left;
	height: 40px;
	width: 40px;
	border-radius: 50px;
	line-height: 40px;
	border: 1px solid rgba(0,0,0,0.9);
	text-align: center;
	margin-right: 10px;
}
.icon-box p {
	font-size: 12px;
	line-height: 24px;
}
.icon-box .h6 {
	letter-spacing: -0.5px;
	font-size: 16px;
	margin: 18px 0px;
	font-weight: 600;
}
.ib-style-3 .h6 {
	font-size: 14px;
}
.light-bg {
	background: #f5f5f5 !important;
}

.first-section .row{
    display: flex;
    align-items: center;
}

/*=======================================================
      Half Layouts
========================================================*/
.main-half-layout {
	background: url(../images/img2.jpg) center center no-repeat;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
}
.main-half-layout-container {
	position: relative;
	padding: 80px 0;
	padding-left: 20px;
	padding-right: 20px;
	width: 40%;
	margin: 0 5%;
}
.main-half-layout-container.half_left_layout {
	float: right;
	margin-left: auto;
	z-index: 1;
}
.main-page-section {
	position: relative;
	width: 100%;
	float: left;
	display: inline-block;
	margin-bottom: 0px;
}
.about .studio-bg {
	background: url(../images/history-img.jpg) center center no-repeat;
	background-size: cover;
}
.main-half-layout.half_right_layout {
	right: 0;
}
.main-half-layout-container.half_right_layout {
	float: left;
	z-index: 1;
}

/*=======================================================
			Count Info
========================================================*/
.count-info {
	margin-top: 50px;
	margin-bottom: 50px;
}
.count-info li {
}
.count-info li span {
	font-size: 50px;
	font-weight: 400;
}